body {
  background-color: #282838;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}

.container {
  margin: 10px;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#settingsForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-9 {
  width: 75%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-8 {
  width: 66.66%;
}

.col-6:first-child {
  margin-right: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
  text-align: center;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  background-color: #383848;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

#saveSettings {
  display: block;
  margin: 0 auto;
}

#settingsForm > .row:last-child {
  margin-top: auto;
  margin-bottom: 10px;
}

.auth-field {
  margin-left: 3px;
}
